.navbar-default {
  background-color: #69899f;
  border-color: #425766;
  border-bottom: 6px solid red;
}
.navbar-default .navbar-brand {
  color: #d7e2e9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-text {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69899f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-toggle {
  border-color: #425766;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #425766;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7e2e9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7e2e9;
}
.navbar-default .navbar-link {
  color: #d7e2e9;
}
.navbar-default .navbar-link:hover {
  color: #e5dbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e5dbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e5dbdb;
    background-color: #425766;
  }
}
/*---------------------------------------------------*/
.banner{
    width: 100%;
    padding: 5px 0;
}
/*---------------------------------------------------*/
.col-left{
    display: inline-block;
    zoom: 1; 
    vertical-align: top; 
}
.col-center{
    float: left;
}
.col-right{
    float: right;
}
.panel_heading {
  color: #fff;
  background-color: #f60;
  padding: 10px 15px;
}
h2.title, h3.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
}
/*---------------------------------------------------*/
.content{
  display: inline-block;
  zoom: 1;  
  vertical-align: top;
}
.sibarleft{
  float: left;
}
.sibarright{
    float: right;
}
li{ list-style: none;}
section .sibarleft ul{
    padding: 0 10px;
}
section .sibarleft ul li{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px inset #ebebeb;
}
section .sibarleft ul li span{
    text-align: right;
    float: right;
    color: red;
}


/*------------------------------------------------------*/
.category ul{
  padding-left: 0px;
}
.category ul li{
  clear: both;
}
.category ul li h3 a {
  font-size: 16px;
}

/*------------------------------------------------------*/
.single h1{
  font-size: 20px;
}
